$dark-blue: #002642;
$white: #FFFFFF;
$light-blue: #11B5E4;
$dark-red: #37000A;
$light-red: #D00000;
$dark-brown: #2A0800;
$dark-green: #157145;
$brown-sugar: #B56B45;
$van-dyke: #523F38;
$drab-brown: #494331;